syntax: glob
#Hidden files
*.bak
*.DS_Store
*[Tt]humbs.db
*.Trashes

#project specific
bower_components/
node_modules/
.sass-cache/
.tscache/
.RESOURCES/
_vendor.scss
functiontest/
# misc
/.sass-cache
package-lock.json
yarn.lock
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

*spec.ts
karma.conf.js
protractor.conf.js
e2e/

#Config Files
settings.json
db.json
ftp.json
.env

#Conflict files
*.orig
*.resolve

#Compiled files
dist-*/
tmp/
map/
*.map
dist/

#Log files
*.log
*.debug
logs/

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Temporary Files
temp/

#LocalHistory
.localhistory/*

# Visual Studio, VS-Code Settings
.vscode/
.vs



